{% extends "base.html" %}

{% block title %}
    Account List
{% endblock title %}

{% block content %}
<main>
    <h1>My Accounts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for i in account_list %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.number }}</td>
                    {% comment %} #the receipts was foreignkeyed in the models
                    #remember that idiot!!!!!! {% endcomment %}
                    <td>{{ i.receipts.all|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}
